<div class="container" style="margin-top:50px;">
    <div class="row">
        <h4>Modificar una Novedad</h4>
        <form action="/admin/novedades/modificar" method="post">
            <input type="hidden" value="{{novedad.id}}" name="id">
            <div class="row mb-3">
                <label for="labelUsuario" class="col-sm-2 col-form-label">Título</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control {{#if obj_error.error_titulo}}estilo_error{{/if}}" name="titulo" value="{{novedad.titulo}}">
                    {{#if obj_error.error_titulo}}
                        <p class="error">{{obj_error.message_titulo}}</p>
                    {{/if}}                   
                </div>
            </div>
            <div class="row mb-3">
                <label for="labelUsuario" class="col-sm-2 col-form-label">Subtítulo</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control {{#if obj_error.error_subtitulo}}estilo_error{{/if}}" name="subtitulo" value="{{novedad.subtitulo}}">
                    {{#if obj_error.error_subtitulo}}
                        <p class="error">{{obj_error.message_subtitulo}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="row mb-3">
                <label for="labelUsuario" class="col-sm-2 col-form-label">Cuerpo</label>
                <div class="col-sm-5">
                    <textarea type="text" class="form-control {{#if obj_error.error_cuerpo}}estilo_error{{/if}}" name="cuerpo" >{{novedad.cuerpo}}</textarea>
                    {{#if obj_error.error_cuerpo}}
                        <p class="error">{{obj_error.message_cuerpo}}</p>
                    {{/if}}
                </div>
            </div>            
            <button type="submit" class="btn  btn-primary">Modificar</button>            
            <a href="/admin/novedades/" id="cancel" name="cancel" class="btn btn-primary">Cancel</a>
        </form>
        {{#if error}}
            <p class="error">{{message}}</p>
        {{/if}}
    </div>
</div>